:root {
	--font-size-primary: 0.906rem; /* 14.5px */
	--font-size-secondary: 0.688rem; /* 11px */

	--foreground: rgba(0, 0, 0, 0.75);

	--border-color: rgba(0, 0, 0, 0.55);
	--border-shorthand: 0.063rem solid var(--border-color);

	/* Button */
	--button-hover-foreground: rgba(255, 255, 255, 0.9);
	--button-hover-backround: rgba(0, 0, 0, 0.78);
	--font-size-button: 0.769rem; /* 12.3px */

	--seven: 0.438rem; /* 7px */
	--twelve: 0.75rem; /* 12px */
}

*, *::before, *::after {
    color: var(--foreground);
    box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
    display: flex;
    justify-content: center;
    min-height: 91vh;
    margin-top: 4.5vh;
    margin-bottom: 4.5vh;
    padding: var(--twelve);
    font-size: var(--font-size-primary);
    text-align: center;
}

main {
	display: flex;
	flex-direction: column;
    width: 100%;
	max-width: 32.5rem;
}

#notepad {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 18.75rem;
}

/* Top Part / Tabs */

.__tabs {
	display: flex;
	flex-wrap: nowrap;
	font-size: var(--font-size-secondary);
	overflow-x: auto;
	overflow-y: hidden;
}

._tab {
	background: none;
	border: var(--border-shorthand);
	border-bottom: 0;
	border-radius: 0.188rem 0.188rem 0 0;
	min-width: 3.75rem;
	max-width: 6.25rem;
	padding: 0.125rem calc(var(--twelve) - 0.125rem);
	font-family: inherit;
	font-size: inherit;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: default;
}

._tab[data-open="true"] {
	text-decoration: underline;
}

._tab-tools {
	flex-shrink: 0;
	width: 2.188rem;
	min-width: initial;
	max-width: initial;
	cursor: pointer;

	position: relative;
}

._tab-tools::before {
	content: "";
	width: 0.8125rem;
	aspect-ratio: 1/1;
	opacity: 0.8;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-note_::before {
	background: url("../Images/plus.svg");
}
.delete-note_::before {
	background: url("../Images/x.svg");
}
.confirm-delete_::before {
	background: url("../Images/check.svg");
}

._tab-tools::before {
	background-size: 100%;
}

.confirm-delete_ {
	filter: invert(51%) sepia(59%) saturate(3209%) hue-rotate(328deg) brightness(105%) contrast(98%);
	transition: all 0.25s ease-in-out;
}

.delete-note_[data-show-confirm="false"] + .confirm-delete_ {
	transform: translateY(100%);
}

/* Title Input / Note Body */

.__note {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

._title {
	border: var(--border-shorthand);
	border-bottom: 0;
}

._title input {
	border: none;
	width: 100%;
	padding: var(--seven) var(--twelve);
	font-size: var(--font-size-button);
	font-style: italic;
	font-weight: bold;
	outline: none;
}

._body {
	flex-grow: 1;
	border: var(--border-shorthand);
	border-bottom: 0;

	position: relative;
}

._body textarea {
	border: none;
	height: 100%;
	width: 100%;
	padding: var(--seven) var(--twelve);
	font-size: var(--font-size-button);
	outline: none;
	resize: none;
	overflow-y: scroll;
}

._body textarea[data-enable-wrap="true"] {
	white-space: pre;
}

.action-message_ {
	font-size: var(--font-size-secondary);
	font-style: italic;
	opacity: 0;
	transition: all 0.1s;

	position: absolute;
	bottom: var(--seven);
	left: var(--twelve);
}

/* Tools / Bottom Part */

.__tools {
	display: flex;
	justify-content: space-between;
	border: var(--border-shorthand);
	padding: 0 var(--twelve);
	padding-top: 1px;
}

._tool {
    background: none;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    cursor: pointer;

    position: relative;
}

._tool::before {
    content: "";
    width: 0.936625rem;
    aspect-ratio: 1/1;
    opacity: 0.8;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cut_::before {
	background: url("../Images/scissors.svg");
}
.copy_::before {
	background: url("../Images/copy.svg");
}
.paste_::before {
	background: url("../Images/clipboard.svg");
}
.delete_::before {
	background: url("../Images/trash.svg");
}
.select-all_::before {
	background: url("../Images/check-square.svg");
}
.zoom-in_::before {
	background: url("../Images/zoom-in.svg");
}
.zoom-out_::before {
	background: url("../Images/zoom-out.svg");
}
.download_::before {
	background: url("../Images/download.svg");
}

._tool::before {
	background-size: 100%;
}

.wrap_ {
	font-family: inherit;
}

.wrap_[data-enable-wrap="true"] {
	opacity: 1;
}

/* Notice / Link */

#notice {
	margin-top: 0.656rem;
	padding: 0 var(--seven);
	font-size: var(--font-size-secondary);
	line-height: 1.1;
	word-wrap: break-word;
}

/* Media Query */

@media (hover: hover) {
	._tab-tools::before,
    ._tool::before {
        opacity: 0.6;
    }

    ._tab-tools:hover::before,
    ._tool:hover::before {
        opacity: 0.8;
    }

    .wrap_ {
    	opacity: 0.6;
    }

    .wrap_:hover {
    	opacity: 1;
    }
}

/* Font Size */
@media (max-width: 30rem) { /* 480px */
    html {
        font-size: calc(1rem - 10%);
    }
}
/* -------- */

@media (max-width: 18.75rem) { /* 300px */
	.__tools {
		flex-direction: column;
	}

	.wrap_ {
		align-self: center;
	}
}